
# PlanAhead Generated physical constraints 

NET "frequency_4" LOC = P33;
NET "frequency_2" LOC = P31;
NET "clock" LOC = P87;
NET "op[1]" LOC = P88;
NET "op[0]" LOC = P90;
NET "reset" LOC = P47;
NET "reg_write" LOC = P91;
NET "mem_read" LOC = P92;
NET "mem_write" LOC = P93;
NET "oscillator" LOC = P57;
NET "rwd_1[6]" LOC = P29;
NET "rwd_1[0]" LOC = P20;
NET "rwd_1[1]" LOC = P21;
NET "rwd_1[2]" LOC = P24;
NET "rwd_1[3]" LOC = P25;
NET "rwd_1[4]" LOC = P27;
NET "rwd_1[5]" LOC = P28;
NET "rwd_0[6]" LOC = P64;
NET "rwd_0[5]" LOC = P63;
NET "rwd_0[4]" LOC = P62;
NET "rwd_0[3]" LOC = P60;
NET "rwd_0[2]" LOC = P59;
NET "rwd_0[1]" LOC = P58;
NET "rwd_0[0]" LOC = P55;
NET "r_symbol[1]" LOC = P10;
NET "r_symbol[0]" LOC = P7;
NET "reg_num[6]" LOC = P19;
NET "reg_num[5]" LOC = P18;
NET "reg_num[4]" LOC = P16;
NET "reg_num[3]" LOC = P15;
NET "reg_num[2]" LOC = P13;
NET "reg_num[1]" LOC = P12;
NET "reg_num[0]" LOC = P11;
NET "pc_low[6]" LOC = P85;
NET "pc_low[0]" LOC = P77;
NET "pc_low[1]" LOC = P78;
NET "pc_low[2]" LOC = P79;
NET "pc_low[3]" LOC = P82;
NET "pc_low[4]" LOC = P83;
NET "pc_low[5]" LOC = P84;
NET "pc_high[6]" LOC = P76;
NET "pc_high[0]" LOC = P68;
NET "pc_high[1]" LOC = P69;
NET "pc_high[2]" LOC = P70;
NET "pc_high[3]" LOC = P71;
NET "pc_high[4]" LOC = P72;
NET "pc_high[5]" LOC = P75;
NET "instruction[0]" LOC = P120;
NET "instruction[1]" LOC = P121;
NET "instruction[6]" LOC = P129;
NET "instruction[7]" LOC = P130;
NET "instruction[5]" LOC = P127;
NET "instruction[4]" LOC = P126;
NET "instruction[3]" LOC = P125;
NET "instruction[2]" LOC = P124;
NET "instruction_address[7]" LOC = P105;
NET "instruction_address[0]" LOC = P96;
NET "instruction_address[1]" LOC = P98;
NET "instruction_address[2]" LOC = P99;
NET "instruction_address[3]" LOC = P101;
NET "instruction_address[4]" LOC = P102;
NET "instruction_address[5]" LOC = P103;
NET "instruction_address[6]" LOC = P104;
